<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{{!-- Animate.css --}}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	{{!-- Bootstrap.css 4 --}}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	{{!-- Bootswatch --}}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sketchy/bootstrap.min.css">
	{{!-- CSS --}}
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
	{{!-- Moment.js --}}
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js"></script>
 	 {{!-- jQuery.js --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	{{!-- Popper.js --}}
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  	{{!-- Bootstrap.js --}}
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<title>Project 2 Starter</title>
</head>

<body>
	{{{ body }}}
	{{!-- JavaScript --}}
  <script src="/assets/js/app.js"></script>
</body>

</html>