{{!-- nav-block.handlebars --}}
{{> nav/nav-block}}

{{!-- Login Landing Page --}}
<div id="main-container" class="container">
  <div class="jumbotron text-center header-wrap" align="center">
    <p class="lead">Welcome to <strong>Sample App</strong></p>
    <hr class="my-4">
    <div>
      {{#if isloggedin}}
        You are logged in as {{user.firstName}}
        <div id="dashButtons">
        <a href="/logout"><br><br><button type="btn" class="btn btn-outline-primary btn-space">Logout</button> </a>
        <a href="/example"><br><br><button type="btn" class="btn btn-outline-primary btn-space">Home</button> </a>
        </div>
      {{else}}
        <p>Please, log in to use this app.</p>
      {{/if}}
      <h5 id="login-err-msg"></h5>
    </div>
  </div>
</div>

{{> modal/login-block}}
