{{> nav/nav-block}}

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        {{#each events}}
          {{#unless past}}
            <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="Food Truck Logo/Picture">
              <div class="card-body">
                  <h5 class="card-title eventTitle">Title</h5>
                  <p class="card-text eventDescription">Description OIFJWOEIFOEWIoifwjeofiwjeofijDVOIJWEOFIJWEOFIJWEOIFJ woeifjw eofijwoeifjw oeif</p>
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item eventDate text-danger">Date(s): January 1, 2020</li>
                  <li class="list-group-item eventLocation text-danger">Find us here: 123 Fake Street, Apple, New York, 000001</li>
              </ul>
              <div>
                  <iframe width="500" height="300" src="ThisIsWhereTheMapWillBe" class="eventMap"></iframe>    
              </div>
              <div class="card-body">
                  <a href="#" class="btn btn-danger" id="button" onclick="modEventAttendBtn()">Click to Attend!</a>
              </div>
            </div>
          {{/unless}}
      {{/each}}
      </div>
    </div>
  </div>
</div>



<script src="/assets/js/example.js"></script>

{{> modal/login-block}}

<script>
  var userId = {{userInfo.id}};

      function modEventAttendBtn() {
        let elem = document.getElementById("button");
        if (elem.innerHTML == "Click to Attend!") {
            elem.innerHTML = "Is Attending!";
        } else {
            elem.innerHTML = "Click to Attend!";
        }
    }
</script>
