<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modal-form">
    + EVENT
</button>
<!-- Modal -->
<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form-title"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <!-- Title -->
                <h5 class="modal-title" id="modalLongTitle">Create an Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
			<!-- Body -->
            <div class="modal-body">
                <form class="clearfix" action="POST">
                    <!-- NAME -->
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="modal-form-name">Truck Name:</label>
                            <input type="text" class="form-control" id="modal-form-name" placeholder="Name" required>
                        </div>
					</div>
					<div class="form-row">
						<div class="col-sm-12">
							<hr>
						</div>
					</div>
					<!-- DATES -->
					<div class="form-row">
						<div class="col-md-6 form-group datepicker" id="datepicker-start" >
							<label for="modal-form-datefrom">Date From:</label>
							<input type="text" id="modal-form-datefrom" name="date" placeholder="MM/DD/YY" class="form-control" data-provide="datepicker" data-date-start-date="0d">
						</div>
						<div class="col-md-6 form-group datepicker" id="datepicker-end">
							<label for="modal-form-dateto">Date To:</label>
							<input type="text" id="modal-form-dateto" name="date" placeholder="MM/DD/YY" class="form-control" data-date-start-date="0d">
						</div>
					</div>
					<div class="form-row">
						<div class="col-sm-12">
							<hr>
						</div>
					</div>
					<!-- LOCATION -->
					<div class="form-row">
						<div class="col-md-12 mb-3">
							<label for="modal-form-address">Address:</label>
							<input type="text" class="form-control" id="modal-form-address" placeholder="Address"
								required>
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-6 mb-3">
							<label for="modal-form-city">City:</label>
							<input type="text" class="form-control" id="modal-form-city" placeholder="City"
								required>
						</div>
						<div class="col-md-3 mb-3">
							<label for="modal-form-state">State:</label>
							<select type="text" class="form-control" id="modal-form-state" placeholder="State"
								required>
								<option value="AL">Alabama</option>
								<option value="AK">Alaska</option>
								<option value="AZ">Arizona</option>
								<option value="AR">Arkansas</option>
								<option value="CA">California</option>
								<option value="CO">Colorado</option>
								<option value="CT">Connecticut</option>
								<option value="DE">Delaware</option>
								<option value="DC">District Of Columbia</option>
								<option value="FL">Florida</option>
								<option value="GA">Georgia</option>
								<option value="HI">Hawaii</option>
								<option value="ID">Idaho</option>
								<option value="IL">Illinois</option>
								<option value="IN">Indiana</option>
								<option value="IA">Iowa</option>
								<option value="KS">Kansas</option>
								<option value="KY">Kentucky</option>
								<option value="LA">Louisiana</option>
								<option value="ME">Maine</option>
								<option value="MD">Maryland</option>
								<option value="MA">Massachusetts</option>
								<option value="MI">Michigan</option>
								<option value="MN">Minnesota</option>
								<option value="MS">Mississippi</option>
								<option value="MO">Missouri</option>
								<option value="MT">Montana</option>
								<option value="NE">Nebraska</option>
								<option value="NV">Nevada</option>
								<option value="NH">New Hampshire</option>
								<option value="NJ">New Jersey</option>
								<option value="NM">New Mexico</option>
								<option value="NY">New York</option>
								<option value="NC">North Carolina</option>
								<option value="ND">North Dakota</option>
								<option value="OH">Ohio</option>
								<option value="OK">Oklahoma</option>
								<option value="OR">Oregon</option>
								<option value="PA">Pennsylvania</option>
								<option value="RI">Rhode Island</option>
								<option value="SC">South Carolina</option>
								<option value="SD">South Dakota</option>
								<option value="TN">Tennessee</option>
								<option value="TX">Texas</option>
								<option value="UT">Utah</option>
								<option value="VT">Vermont</option>
								<option value="VA">Virginia</option>
								<option value="WA">Washington</option>
								<option value="WV">West Virginia</option>
								<option value="WI">Wisconsin</option>
								<option value="WY">Wyoming</option>
							</select>				
						</div>
						<div class="col-md-3 mb-3">
							<label for="modal-form-zip">Zip:</label>
							<input type="text" class="form-control" id="modal-form-zip" placeholder="Zip" required>
						</div>
					</div>
					<div class="form-row">
						<div class="col-sm-12">
							<hr>
						</div>
					</div>
					<!-- ABOUT TEXTBOX -->
					<div class="form-row">
						<label for="modal-form-about">About your truck:</label>
						<textarea class="form-control" id="modal-form-about" rows="3"></textarea>
					</div>
					<div class="form-row">
						<div class="col-sm-12">
							<hr>
						</div>
					</div>
					<!-- CUISINE checkboxES -->
					<div class="form-row ">
						Cuisine:
					</div>
					<div class="form-row">
						<div class="col form-check">
							<input class="form-check-input" name="american" type="checkbox" id="checkbox1" value="American">
							<label class="form-check-label" for="checkbox1">American</label>
						</div>
						<div class="col form-check">
							<input class="form-check-input" type="checkbox" id="checkbox2" value="Barbecue">
							<label class="form-check-label" for="checkbox2">Barbecue</label>
						</div>
						<div class="col form-check">
							<input class="form-check-input" type="checkbox" id="checkbox3" value="Chinese">
							<label class="form-check-label" for="checkbox3">Chinese</label>
						</div>
					</div>
					<div class="form-row">
						<div class="col form-check">
							<input class="form-check-input" type="checkbox" id="checkbox4" value="French">
							<label class="form-check-label" for="checkbox4">French</label>
						</div>
						<div class="col form-check">
							<input class="form-check-input" type="checkbox" id="checkbox5" value="Greek">
							<label class="form-check-label" for="checkbox5">Greek</label>
						</div>
						<div class="col form-check">
							<input class="form-check-input" type="checkbox" id="checkbox6" value="Hamburger">
							<label class="form-check-label" for="checkbox6">Hamburger</label>
						</div>
					</div>
					<div class="form-row">
						<div class="col form-check">
							<input class="form-check-input" type="checkbox" id="checkbox7" value="Indian">
							<label class="form-check-label" for="checkbox7">Indian</label>
						</div>
						<div class="col form-check">
							<input class="form-check-input" type="checkbox" id="checkbox8" value="Japanese">
							<label class="form-check-label" for="checkbox8">Japanese</label>
						</div>
						<div class="col form-check">
							<input class="form-check-input" type="checkbox" id="checkbox9" value="Mexican">
							<label class="form-check-label" for="checkbox9">Mexican</label>
						</div>
					</div>
					<div class="form-row">
						<div class="col form-check">
							<input class="form-check-input" type="checkbox" id="checkbox10" value="Pizza">
							<label class="form-check-label" for="checkbox10">Pizza</label>
						</div>
						<div class="col form-check">
							<input class="form-check-input" type="checkbox" id="checkbox11" value="Seafood">
							<label class="form-check-label" for="checkbox11">Seafood</label>
						</div>
						<div class="col form-check">
							<input class="form-check-input" type="checkbox" id="checkbox12" value="Steak">
							<label class="form-check-label" for="checkbox12">Steak</label>
						</div>
					</div>
					<div class="form-row">
						<div class="col form-check">
							<input class="form-check-input" type="checkbox" id="checkbox13" value="Sushi">
							<label class="form-check-label" for="checkbox13">Sushi</label>
						</div>
						<div class="col form-check">
							<input class="form-check-input" type="checkbox" id="checkbox14" value="Thai">
							<label class="form-check-label" for="checkbox14">Thai</label>
						</div>
						<div class="col"></div>
					</div>
					<div class="form-row">
						<div class="col-sm-12">
							<hr>
						</div>
					</div>
					<!-- UPLOAD PICTURE -->
					<div class="form-row">					
						<label for="modal-form-picture">Upload a picture:</label>
						<input type="file" class="form-control-file" id="modal-form-picture" disabled>
						<p class="text-warning">↑ Coming Soon! ↑</p>
					</div>
					<div class="form-row">
						<div class="col-sm-12">
							<hr>
						</div>
					</div>
                </form>
            </div>
            <!-- Footer -->
            <div class="modal-footer">
				<button id="modal-submit" type="submit" class="btn btn-outline-primary">
					+ 
				</button>
				<button type="button" class="btn btn-outline-danger" data-dismiss="modal">
					- 
				</button>
            </div>
        </div>
    </div>
</div>