html {
	background: url(/assets/images/bckgrd.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: transparent;
}

body {
	color: white;
	height: 100%;
	background-color: transparent;
}

.navbar {
	opacity: 0.8;
}

.jumbotron {
	background: rgba(0, 0, 0, 0);
}

.header-wrap {
	border: none !important;
}

.navbar-brand {
	font-size: 25px;
}

.nav-link:hover {
	border: 0.1px solid #333;
	font-size: 19px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 200ms ease-out;
}

.modal {
	color: black;
}

#user-form,
.header-wrap,
#create-form,
.create-user-wrap {
	padding: 20px;
	border-radius: 15px;
	margin: 20px 0;
}

#update-err-msg,
#login-err-msg,
#create-err-msg {
	color: red !important;
}

#go-home {
	width: auto;
	height: 65px;
}

.container {
	padding-bottom: 2%;
	margin-top: 10%;
	height: 100%;
	background-color: rgb(177, 174, 174, 0.85);
	border-radius: 0.25rem;
	margin-bottom: 2%;
	/* width: 600px; */
}

[data-useremail="true"] {
	color: white !important;
}
[data-register="true"] {
	color: white !important;
}

.lead {
	font-size: 1.8rem;
	font-weight: 500;
}

.userId h2,
.header-wrap h1 {
	text-transform: capitalize;
}

hr {
	background-color: #fff !important;
}

.list-group-item {
	line-height: 2.5;
}

.card-body {
	color: #444;
}

.eventButton:hover,
.profileButton:hover {
	background-color: #333;
	color: white;
}

/* Overwrites .eventButton styling to make unique while keeping functionality */
.minusButton:hover {
	background-color: #ffc107;
	color: white;
}

#profile-card,
.event-card {
	margin-top: 20px;
	margin-bottom: 15px;
}

.event-card {
	padding: 1rem;
}

.event-card .card-img-top {
	border-radius: 15px 15px 15px 15px/35px 35px 35px 15px;
}

#dashButtons {
	display: flex;
	justify-content: center;
}

.btn-space {
	margin-right: 5px;
	margin-left: 5px;
}

#dash-logo {
	max-width: 25rem;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

/* image grayscale - hover for color */

/* img {
	-webkit-filter: grayscale(90%);
	filter: grayscale(90%);
} */

/* img:hover {
	transition: all 1s ease;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
} */