body {
	color: white;
	background-size: cover;
	height: 100%;
}

.jumbotron {
	background: rgba(0, 0, 0, 0);
}

.header-wrap {
	border: none !important;
}

.modal {
	color: black;
}

#user-form,
.header-wrap,
#create-form,
.create-user-wrap {
	padding: 20px;
	border-radius: 15px;
	margin: 20px 0;
}

#update-err-msg,
#login-err-msg,
#create-err-msg {
	color: red !important;
}

#go-home {
	width: auto;
	height: 65px;
}

.container {
	padding-bottom: 2%;
	margin-top: 10%;
	height: 100%;
	background-color: lightgrey;
	border-radius: 0.25rem;
	margin-bottom: 2%;
	/* width: 600px; */
}

[data-useremail="true"] {
	color: white !important;
}
[data-register="true"] {
	color: white !important;
}

.lead {
	font-size: 1.8rem;
	font-weight: 500;
}

.userId h2,
.header-wrap h1 {
	text-transform: capitalize;
}

hr {
	background-color: #fff !important;
}

.list-group-item {
	line-height: 2.5;
}

.card-body {
	color: #444;
}

#eventButton:hover {
	background-color: #333;
	color: white;
}

#profile-card,
.event-card {
	margin-top: 20px;
	margin-bottom: 15px;
}

.event-card {
	padding: 1rem;
}

.event-card .card-img-top {
	border-radius: 15px 15px 15px 15px/35px 35px 35px 15px;
}

#dashButtons {
	display: flex;
	justify-content: center;
}

.btn-space {
	margin-right: 5px;
	margin-left: 5px;
}

#dash-logo {
	max-width: 25rem;
}
