<nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/">
    AppName
  </a>
  
  <!-- Links -->
  <ul class="nav navbar-nav ml-auto">

    {{#if isloggedin}}
	  {{!-- User Home Page --}}
      <li class="nav-item">
        <a class="nav-link" href="/example">Example page</a>
      </li>
	  {{!-- Profile Settings --}}
      <li class="nav-item">
        <a class="nav-link" href="/profile">My Profile</a>
      </li>
	  {{!-- Logout --}}
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    {{else}}
	  {{!-- Login --}}
      <li class="nav-item">
        <a class="nav-link" href="#" id="login-modal">Login</a>
      </li>
	  {{!-- Register --}}
      <li class="nav-item">
        <a class="nav-link" href="/register" data-register={{register}}>Register</a>
      </li>
    {{/if}}
  </ul>
</nav>

{{> modal/login-block}}
